<?xml version="1.0"?>
<config>
    <modules>
        <Tentura_Mvideo>
            <version>0.1.0</version>
        </Tentura_Mvideo>
    </modules>
    <frontend>
        <routers>
            <mvideo>
                <use>standard</use>
                <args>
                    <module>Tentura_Mvideo</module>
                    <frontName>mvideo</frontName>
                </args>
            </mvideo>
        </routers>
        <layout>
            <updates>
                <mvideo>
                    <file>mvideo.xml</file>
                </mvideo>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mvideo>
				<use>admin</use>
				<args>
					<module>Tentura_Mvideo</module>
					<frontName>mvideo</frontName>
				</args>
			</mvideo>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Tentura_Mvideo>
							<title>Mvideo Module</title>
							<sort_order>10</sort_order>
						</Tentura_Mvideo>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <mvideo translate="title" module="mvideo">
                                            <title>Mvideo Section</title>
                                        </mvideo>
                                    </children>
                                </config>
                            </children>
                        </system>
						
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<mvideo>
					<file>mvideo.xml</file>
				</mvideo>
			</updates>
		</layout>
    </adminhtml>   
    <global>
    	<events>
       		<catalog_product_save_after>
    			<observers>
	                <Conlabz_Referral>
	                    <type>singleton</type>
	                    <class>mvideo/observer</class>
	                    <method>productSaveAfter</method>
	                </Conlabz_Referral>
	            </observers>
	    	</catalog_product_save_after>
	    </events>
        <models>
            <mvideo>
                <class>Tentura_Mvideo_Model</class>
                <resourceModel>mvideo_mysql4</resourceModel>
            </mvideo>
            <mvideo_mysql4>
                <class>Tentura_Mvideo_Model_Mysql4</class>
                <entities>
                    <mvideo>
                        <table>mvideo</table>
                    </mvideo>
                    <mvideoForProducts>
                        <table>mvideo_for_products</table>
                    </mvideoForProducts>
                </entities>
            </mvideo_mysql4>
        </models>
        <resources>
            <mvideo_setup>
                <setup>
                    <module>Tentura_Mvideo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mvideo_setup>
            <mvideo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mvideo_write>
            <mvideo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mvideo_read>
        </resources>
        <blocks>
            <mvideo>
                <class>Tentura_Mvideo_Block</class>
            </mvideo>
        </blocks>
        <helpers>
            <mvideo>
                <class>Tentura_Mvideo_Helper</class>
            </mvideo>
        </helpers>
    </global>
</config>